In [1]:
import pandas as pd
import re
from tqdm import tqdm

In [2]:
df_train = pd.read_csv("../data/train_data.csv")
df_dev = pd.read_csv("../data/dev_data.csv")
df_test = pd.read_csv("../data/test_data.csv")

In [3]:
df_train.head()

,transcript,episode_description
0,Welcome to Medicus a student-run podcast about...,"In this episode, we sat down with a third year..."
1,"Hey, what is up everybody and welcome back to ...",We are so excited to be back with you guys wit...
2,Good morning. My people I'll be going well in ...,Can animals reduce stress or increase it? I ha...
3,This is Christy Mathewson part of the Texas A&...,Surgery for biliary tract disease is among the...
4,Welcome to episode number 2 of The Av a moveme...,"In this second episode of the podcast, our co-..."

In [4]:
df_dev.head()

,transcript,episode_description
0,What's up you guys? It's telling and Ashley wi...,Ashley and Dallin discuss different approaches...
1,Three two one and stop popping step podcast th...,Today Puff and Steph talk about looking out fo...
2,"You want to go all the content you can yeah, e...","What do AEGEE-Skopje, AEGEE-Bratislava, AEGEE-..."
3,I'm talking about today Five Nights at Freddy'...,Finally 2 years since it has been revealed...h...
4,"Hey, good morning. Good afternoon, and good ev...",Explicit language included for your benefit! W...

In [5]:
df_test.head()

,transcript,episode_description
0,Welcome back to another episode of tuxedo time...,Today on the podcast we go on a JOURNEY! We ta...
1,"What's up, guys? This episode of the podcast i...",Ever wanted a podcast from your three favorite...
2,You are listening to Irish illustrate Insider....,The Irish Illustrated Insider crew discusses N...
3,You have tuned into Irish Illustrated Insider....,Irish Illustrated Insider tackles NFL Combine ...
4,"What's up, everybody? Welcome to the in the do...",Breaking down a classic Calgary Flames comebac...

In [6]:
print(len(df_train), len(df_dev), len(df_test))

52396 2183 1025

In [7]:
def clean_data(df):
    new_t = []
    new_s = []
    for idx, row in tqdm(df.iterrows()):
        transcript = row['transcript']
        transcript = re.sub(r"[^a-zA-Z0-9]"," ",transcript)
        transcript = re.sub(' +', ' ',transcript)
        transcript = transcript.lower()
        transcript = transcript.strip()
        transcript = transcript.split(" ")
        new_t.append(' '.join(transcript[:1024]))
        
        summary = row['episode_description']
        summary = re.sub(r"[^a-zA-Z0-9]"," ",summary)
        summary = re.sub(' +', ' ',summary)
        summary = summary.lower()
        summary = summary.strip()
        summary = summary.split(" ")
        new_s.append(' '.join(summary[:1024]))
    df['transcript'] = new_t
    df['episode_description'] = new_s
    return df

In [8]:
df_train = clean_data(df_train)
df_dev = clean_data(df_dev)
df_test = clean_data(df_test)

52396it [03:13, 271.22it/s]
2183it [00:08, 269.86it/s]
1025it [00:04, 252.55it/s]

In [60]:
# for idx, row in df.iterrows():
#     if len(row['transcript'].split(" ")) >= 1024:
#         print(idx)

In [9]:
new_t = df_train[['transcript']]
new_s = df_train[['episode_description']]

new_t.to_csv("../data/train.document", index=False)
new_s.to_csv("../data/train.summary", index=False)

new_t = df_dev[['transcript']]
new_s = df_dev[['episode_description']]

new_t.to_csv("../data/dev.document", index=False)
new_s.to_csv("../data/dev.summary", index=False)

new_t = df_test[['transcript']]
new_s = df_test[['episode_description']]

new_t.to_csv("../data/dev.document", index=False)
new_s.to_csv("../data/dev.summary", index=False)

In [11]:
df_train.to_csv("../data/train_clean.csv", index=False)
df_dev.to_csv("../data/dev_clean.csv", index=False)
df_test.to_csv("../data/test_clean.csv", index=False)